<div class="loading" *ngIf="articles && articles.length == 0">
    No hay Artículos que coincidan con la búsqueda, inténtalo más tarde :)
</div>

<div class="loading" *ngIf="!articles">
    Cargando Artículos...
</div>


<div id="articles" *ngIf="articles">
    <article class="article-item" id="article-template" *ngFor="let article of articles">
        <div class="image-wrap">
            <!--https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR-nC2smsN7PDcLUxGxSWkMYvbGvqkTzdDXGA&usqp=CAU-->
            <img src="{{ url+'get-image/'+article.image }}" alt="{{ article.title }}" *ngIf="article.image != null">
            <img src="assets/images/default.png" alt="{{ article.title }}" *ngIf="article.image == null">
        </div>

        <h2>{{ article.title }}</h2>
        <span class="date">
            <!-- amLocale y amTimeAgo son pipes que tenemos gracias a instalar angular2-moment y añadirlo a los imports de nuestro app.module -->
            {{ article.date | amLocale: 'es' | amTimeAgo }}
        </span>
        <a [routerLink]="['/blog/articulo', article._id ]">Leer más</a>
        <div class="clearfix"></div>
    </article>
</div>